*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
section{
	color:#BA7404;
	background-color:#B392C1;
	height:150px;
	overflow:auto;
	width:100%;
	position:relative;
	margin:10px;
	border:1px solid #652380;
}
.row{
	width:100%;
}
h3{
	text-align:center;
	width:40%;
	float:right;
	background-color: #E7957E;
	border:1px solid #652380;
}
h1{
	text-align:center;
	color : #990000;
	margin-bottom:10px;
}
p{
	clear:right;
	margin:0;
	text-align:justify;
	padding:10px;
}
body{
	padding-right:20px;
	background-color:#9FE2CA;
}
.containar{
	padding:10px;
}
@media(min-width: 992px){
	.col-lg-4{
		float:left;
		
	}
	.col-lg-4
	{
		width:33.33%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float:left;
		
	}
	.col-md-6
	{
		width:50%;
	}
	.col-md-12
	{
		width:100%;
	}
}
@media(max-width: 767px){
	.col-sm-12{
		float:left;
	
	}
	.col-sm-12
	{
		width:100%;
	}
}